<div
  [routerLink]="'/pokemon/' + pokemon.name"
  class="card flex-column align-center gap-20"
  *ngIf="pokemon"
>
  <div class="flex-row justify-between gap-8 align-center w-100">
    <h3 class="name">{{ pokemon.name }}</h3>

    <span class="code">#{{ pokemon.id }}</span>
  </div>

  <figure>
    <img
      [src]="pokemon.sprites.other['official-artwork'].front_default"
      alt="Pokemon"
    />
  </figure>

  <div class="flex-column gap-4 w-100">
    <div class="flex-row justify-between gap-8 align-center">
      <b class="prop">{{ "Pokemon.Height" | translate }}:</b>

      <span class="value">{{ pokemon.height }}cm</span>
    </div>

    <div class="flex-row justify-between gap-8 align-center">
      <b class="prop">{{ "Pokemon.Weight" | translate }}:</b>

      <span class="value">{{ pokemon.weight }}kg</span>
    </div>
  </div>
</div>
