<div class="card flex-column align-center gap-20">
  <div class="flex-row justify-between gap-8 align-center w-100">
    <h3 class="name">Blastoise</h3>

    <span class="code">#COD</span>
  </div>

  <figure>
    <img src="../../../assets/image/blastoise.png" alt="Pokemon" />
  </figure>

  <div class="flex-column gap-4 w-100">
    <div class="flex-row justify-between gap-8 align-center">
      <b class="prop">Altura:</b>

      <span class="value">40cm</span>
    </div>

    <div class="flex-row justify-between gap-8 align-center">
      <b class="prop">Peso:</b>

      <span class="value">6kg</span>
    </div>
  </div>
</div>
