<header>
  <div class="default-view-container flex-row align-center gap-20">
    <div class="flex-column gap-24 flex-1 align-start wrap-text">
      <div class="wrap-title" [routerLink]="'/'">
        <img src="../../../assets/image/logo.png" alt="Inicie logo" />

        <h1>{{ "Header.Title" | translate }} <mark>Pokémons</mark></h1>
      </div>

      <p class="description">{{ "Header.Description" | translate }}</p>

      <search></search>
    </div>

    <div class="flex-1 images">
      <img
        src="../../../assets/image/togepi.png"
        [ngClass]="{ 'in-view': !loadingService.isLoading }"
        alt="Togepi"
      />
      <img
        src="../../../assets/image/pikachu.png"
        [ngClass]="{ 'in-view': !loadingService.isLoading }"
        alt="Pikachu"
      />
      <img
        src="../../../assets/image/bulbasaur.png"
        [ngClass]="{ 'in-view': !loadingService.isLoading }"
        alt="Bulbasaur"
      />
    </div>
  </div>
</header>
