@import "./utils";
@import "./fonts";
@import "./buttons";
@import "./form";
@import "./grid";
@import "./flex-box";

// $slick-font-path: "slick-carousel/slick/fonts/";
// $slick-loader-path: "slick-carousel/slick/";

// @import "slick-carousel/slick/slick", "slick-carousel/slick/slick-theme";

* {
  box-sizing: border-box;
  outline: none;
  font-family: $font-nunito;
}

body,
html {
  scroll-behavior: smooth;
  font-family: $font-nunito;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    180deg,
    #eff4fa 0%,
    rgba(239, 244, 250, 0) 102.84%
  );
}

main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: $font-weight-normal;
  font-family: $font-nunito;
  color: $primary;
  position: relative;
  overflow-x: hidden;
  outline: none;
  scroll-behavior: smooth;
  background: linear-gradient(
    180deg,
    #eff4fa 0%,
    rgba(239, 244, 250, 0) 102.84%
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-nunito;
}

a {
  color: $primary;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px $blue;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $light-smoke;
  border-radius: 8px;
}

.default-view-container {
  width: 100%;
  max-width: 1344px;
  padding: 0 12px;
  margin: 0px auto;
  box-sizing: border-box;

  @media only screen and (max-width: $widescreen-width) {
    padding: 0 48px;
  }

  @media only screen and (max-width: $desktop-width) {
    padding: 0 24px;
  }

  @media only screen and (max-width: $mobile-width) {
    padding: 0 16px;
  }
}

.disable-pointer-events,
.disable-pointer-events *,
.disable-pointer-events ::ng-deep,
.disable-pointer-events ::ng-deep * {
  pointer-events: none;
}

a {
  text-decoration: none;
}

mat-icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

figure {
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}

.p-relative {
  position: relative;
}

.display-block {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.slick-arrow,
.arrow {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  z-index: 1;
  background: $secondary;
  color: $white;
  border: none;
  box-sizing: border-box;
  position: absolute;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &.slick-next,
  &.slick-prev {
    height: 32px;
    width: 32px;
    background: $secondary;
    color: $white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      margin: 0 !important;
      box-sizing: border-box;
      display: inline-block;
      font-family: "Material Icons";
      font-style: normal;
      font-variant-caps: normal;
      font-variant-east-asian: normal;
      font-variant-ligatures: normal;
      font-variant-numeric: normal;
      font-weight: 300;
      font-size: 40px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      color: $white;
      margin-top: 4px;
      transition: 0.7s ease;
    }
  }

  &.slick-next {
    top: 50%;
    right: -8px;
    transform: rotate(180deg) matrix(-1, 0, 0, 1, 0, 0) translateY(50%);
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.25);
    background: $secondary;

    &::before {
      content: "\e5cc";
    }
  }

  &.slick-prev {
    top: 50%;
    left: -8px;
    transform: matrix(-1, 0, 0, 1, 0, 0) translateY(-50%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    background: $secondary;

    &::before {
      content: "\e5cc";
    }
  }

  &:hover {
    opacity: 0.7;
    background: $secondary !important;
  }

  &:focus {
    background: $secondary !important;
  }
}

.arrow {
  position: relative;
}

.slick-dots {
  position: absolute;

  li {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;

    &:before {
      content: "";
      height: 14px;
      width: 14px;
      border-radius: 50%;
      display: inline-block;
      background: $light-smoke;
    }

    button {
      display: none;
    }

    &.slick-active {
      &:before {
        background: $secondary;
      }
    }
  }
}
