$primary: #233674;
$secondary: #ea686d;

$white: #ffffff;
$white-smoke: #f4f4f4;
$light-smoke: #c1c1c1;
$error: #ea686d;

$full-width: 2560px;
$widescreen-width: 1366px;
$notebook-width: 1210px;
$desktop-width: 1024px;
$tablet-width: 960px;
$mobile-width: 786px;

$font-nunito: "Nunito", sans-serif;

$font-weight-extra-light: 300;
$font-weight-normal: 400;
$font-weight-regular: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
