@import "src/styles/utils";

:host {
  .list {
    position: relative;
    min-height: 540px;

    @media only screen and (max-width: $mobile-width) {
      justify-content: center;
    }

    card {
      width: 190px;

      @media only screen and (max-width: $mobile-width) {
        width: 90%;
      }
    }
  }

  .arrow {
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .empty-message {
    font-size: 22px;
  }
}
