<div class="flex-column gap-48">
  <div class="flex-row justify-between gap-20 mt-12">
    <h2>Pokedex</h2>

    <div class="flex-row gap-8 align-center pr-20">
      <div class="arrow">
        <img src="../../../assets/svg/prev.svg" alt="prev" />
      </div>

      <div class="arrow">
        <img src="../../../assets/svg/next.svg" alt="next.svg" />
      </div>
    </div>
  </div>

  <div class="flex-wrap gap-32 list">
    <card *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></card>
  </div>
</div>
