:host {
  .list {
    position: relative;
    min-height: 540px;

    card {
      width: 190px;
    }
  }

  .arrow {
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .empty-message {
    font-size: 22px;
  }
}
